:global {
  .@{spriteui-prefix}-tag-close-icon {
    color: #1890ff !important;
  }
  .inputNumber100 {
    .@{spriteui-prefix}-input-number-group-wrapper {
      width: 100%;
    }
  }
  .@{spriteui-prefix}-input-suffix {
    color: #545454 !important;
  }
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 8px;
  :global {
    .@{spriteui-antd-prefix}-form-item
      .@{spriteui-antd-prefix}-form-item-label {
      width: 120px;
      text-align: end !important;
    }
    .@{spriteui-antd-prefix}-form-inline
      .@{spriteui-antd-prefix}-form-item-inline {
      margin-top: 16px;
    }
  }
}
