.item,
.content {
  position: relative;
  :global {
    .riskControlPlatformAntd-input-number-status-error {
      border-color: #d9d9d9 !important;
    }
    .riskControlPlatformAntd-input-number-outlined {
      :hover {
        border-color: #c7926f !important;
        background-color: #ffffff !important;
      }
    }
  }
  .customError {
    border-color: #ff4d4f !important;
  }
  .errorTip {
    position: absolute;
    bottom: -12px;
    color: #ff4d4f;
    text-align: center;
    width: 100%;
    line-height: 24px;
  }
}
