.content {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #dddee0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  .search {
    padding: 10px;
  }
  .treeBlock {
    padding: 10px 10px 52px 10px;
    flex: 1 auto;
    overflow-y: auto;
  }
  .selectAll {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 16px;
    background-color: #f8f8f8;
  }
}
