@import "../../../../var.less";

@prefix-cls: ~"@{spriteui-prefix}-table-select-bar";

.@{prefix-cls} {
  flex-grow: 1;
  padding: 2px 8px;

  :deep(.@{spriteui-prefix}-btn-link) {
    height: 20px;
    line-height: 20px;
  }
}
