@import "../../../../var.less";

@prefix-cls: ~"@{spriteui-prefix}-basic-table-img";

.@{prefix-cls} {
  .@{spriteui-prefix}-image {
    margin-right: 4px;
    cursor: zoom-in;

    img {
      border-radius: 2px;
    }
  }

  .img-div {
    display: inline-grid;

    > .@{spriteui-prefix}-image:nth-of-type(n + 2) {
      display: none;
    }
  }
}
