@import "../../var.less";

.userManage {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 24px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 14%);
  .title {
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
    span {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }
  }
  .userList {
    flex: 1 auto;
    .actionBar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      .symbolsSearch {
        margin: 16px 0;
        width: 240px;
      }
    }
  }
  .actions {
    color: @primary-color;
  }
  .rowActive {
    cursor: pointer;
    background: #fbf0e9;
    & > td {
      background: #fbf0e9;
    }
  }
  .rowhover {
    background: #f3dbcc;
    & > td {
      background: #f3dbcc;
    }
  }
}
