:global {
  .riskControlPlatformAntd-import-modal-body {
    padding: 16px 0;
    .riskControlPlatformAntd-import-modal-body-title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    .riskControlPlatformAntd-import-modal-body-template {
      color: #bb744a;
      cursor: pointer;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
