@spriteui-prefix: riskControlPlatform; // 组件库的样式前缀，如果修改了 theme 里的对应配置后这里也需要修改
@spriteui-antd-prefix: riskControlPlatformAntd;
@primary-color: #1677FF; // 更新为品牌主色高亮亮蓝色
@success-color: #55d187;
@warning-color: #efbd47;
@error-color: #ed6f6f;
@info-color: #0960bd;
@disabled-color: #ffffff4d;
@component-background: #fff;
@table-row-hover-bg: #fafafa;
@table-selected-row-bg: #e6f7ff;
@text-color: #444444;
@font-family: "myfont", PingFang SC-Regular, PingFang SC;
